
dist/TableauDesktopPy_bpewyllie-0.0.1-py3-none-any.whl
dist/TableauDesktopPy-bpewyllie-0.0.1.tar.gz
build/lib/TableauDesktopPy/TableauDesktopPy.py
build/lib/TableauDesktopPy/__init__.py
TableauDesktopPy_bpewyllie.egg-info/dependency_links.txt
TableauDesktopPy_bpewyllie.egg-info/PKG-INFO
TableauDesktopPy_bpewyllie.egg-info/SOURCES.txt
TableauDesktopPy_bpewyllie.egg-info/top_level.txt
dist/TableauDesktopPy-0.0.5-py3-none-any.whl
dist/TableauDesktopPy-0.0.5.tar.gz
TableauDesktopPy/__pycache__/__init__.cpython-38.pyc
TableauDesktopPy/__pycache__/TableauDesktopPy.cpython-38.pyc
TableauDesktopPy.egg-info/dependency_links.txt
TableauDesktopPy.egg-info/PKG-INFO
TableauDesktopPy.egg-info/SOURCES.txt
TableauDesktopPy.egg-info/top_level.txt
setup.py
