
*.whl
*.gz
*.pyc
build/lib/TableauDesktopPy/TableauDesktopPy.py
build/lib/TableauDesktopPy/__init__.py
TableauDesktopPy_bpewyllie.egg-info/dependency_links.txt
TableauDesktopPy_bpewyllie.egg-info/PKG-INFO
TableauDesktopPy_bpewyllie.egg-info/SOURCES.txt
TableauDesktopPy_bpewyllie.egg-info/top_level.txt
TableauDesktopPy.egg-info/dependency_links.txt
TableauDesktopPy.egg-info/PKG-INFO
TableauDesktopPy.egg-info/SOURCES.txt
TableauDesktopPy.egg-info/top_level.txt
setup.py
